#solution{
	color: #ffff;
	text-align: center;
	margin:0px;
}

.solution{
	&__bgima{
		padding-top: 200px;
		padding-bottom: 200px;
		max-width: 1600px;
		min-height: 100%;
		margin-left: auto;
		margin-right: auto;
		background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/imagen18.jpg);
		background-color: var(--hero-background-color);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		text-align: center;
		color: var(--white-txt-cl);
		text-align: center;
		padding-bottom: 210px;
		margin:0px;
	}


	&__title{
		margin-top: 0;
		margin-bottom: 40px;
		letter-spacing: 0.06em;
		line-height: 60px;
		text-transform: uppercase;
	}


	&__btn{
		color: #ffffff;
		font-weight:700;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 32px;
		padding-right: 32px;
		background-color: var(--btn-primary-bg-cl);
		height: 50px;
		font-size: 16px;
		border-radius:4px;
		cursor:pointer;
		text-align: center;
		display: inline-block;
	}

	&__btn:hover{
		
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}